{# /Resources/views/Emails/registration.html.twig #}
<h3>Поздравляем {{name}} Вы зарегистированы на сайте iPoetry</h3>

{# example, assuming you have a route named "login" #}
Для подтверждения пройдите по <a href="{{url}}{{url_verify_param}}">ссылке</a>.

С уважением.
администрация iPoetry.

{# Makes an absolute URL to the /images/logo.png file #}
{#<img src="{{ absolute_url(asset('images/logo.png')) }}">#}
<img src="https://im0-tub-ru.yandex.net/i?id=0d94175c6057e43b172e57d3c0ae0417&n=33&h=215&w=311">