<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide();">&times;</button>
        <h4 class="modal-title" ng-bind-html="title"></h4>
      </div>
      <div class="modal-body" ng-show="content">

        <h4>Вы действительно хотите удалить запись?</h4>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn-blue-bg" ng-click="hideModal();$hide();">Да</button>
        <button type="button" class="btn-blue-bg" ng-click="$hide();">Нет</button>
      </div>
    </div>
  </div>
</div>
