<footer>
		<div class="container clearfix">
			<div class="foot-social-panel-wrap">
				<a href="#" class="foot-social-item"><i class="fa fa-vk" aria-hidden="true"></i></a>
				<a href="#" class="foot-social-item"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="#" class="foot-social-item"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#" class="foot-social-item"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
				<div class="copyright">© 2015 Все права защищены.</div>
			</div>
			<div class="foot-nav">
				<ul>
					<li><a href="#">О проекте</a></li>
					<li><a href="#">Помощь</a></li>
					<li><a href="#">Обратная связь</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="foot-policy clearfix">
				<a href="#">Политика конфиденциальности.</a>
			</div>
		</div>
</footer>
	
