{# empty Twig template #}
{# app/Resources/views/index.html.twig #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
<head>
<title>Аренда автомобилей без залога.</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="Keywords" content="Аренда авто, аренда автомобиля, аренда автомобилей, аренда автомобилей без залога, аренда автомобиля без водителя, аренда автомобиля с водителем, аренда авто без залога,аренда авто без водителя, аренда авто с водителем, аренда skoda,аренда bmw,аренда ваз" />
<meta name="description" content="У нас вы можете взять напрокат автомобиль без залога. Стоимость аренды может быть низкой при длительном сроке аренды.Прокат,аренда автомобилей для физических и юридических лиц. Прокат, аренда автомобилей без ограничения пробега." />
<meta name="robots" content="index,follow" />
<script type="text/javascript" src="../../../java/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../java/w_load.js"></script>
<link href="/css/style.css" type="text/css" rel="stylesheet"></link>
<!-- Bootstrap core CSS -->
<link href="../../../bootstrap/docs/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="../../../bootstrap/docs/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<!--<link href="../../../bootstrap/theme.css" rel="stylesheet">-->
<!-- Just for debugging purposes. Don\'t actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="../../../bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../../vbootstrap/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body id="body_container" style="position: absolute; width:100%;height:100%;max-width:100%;max-height:100%;" onresize="btn_font_size();"> <!--//onload="javascript:Dimension();" width: 1160px; height: 800px;visibility:hidden;-->

<div class="container-fluid" id="container_main"> <!--//style="position:relative; left:0px; top:0px; width:1160px; height:800px; z-index:0;"-->
<!--<div class="bg-info" id="h1_level">--><!--//style="position:relative;display:block; left:0px; top:0px; width:1160px; height:40px; z-index:0;border-radius: 3px;border: 1px solid #000;overflow: hidden;"-->
<div class="row">
<div class="col-xs-14">
<h1 class="bg-info" style="border-radius: 3px;border: 1px solid #000;overflow: hidden;">Аренда автомобилей без залога.</h1><!--//style="position:relative;left:0px; top:0px; width:1160px; height:40px; z-index:0; color:white;margin:0 0 0 0;"-->
<!--</div>-->
<!--<div class="row" style="width:100%; height:50px; z-index:0;">--><!--//left:0px; top:10px;-->
<div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" onclick="gotopage(0);">О проекте</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li onclick="gotopage(1);"><a href="#">Новости,акции</a></li>
              <li onclick="gotopage(2);"><a href="#">Правила аренды</a></li>
              <li onclick="gotopage(3);"><a href="#">Парк автомобилей</a></li>
              <li onclick="gotopage(4);"><a href="#">Контакты</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
</div>
<!--</div>-->
        </div>
</div>

<!--вторая строка таблицы-->

<div class="row">
<div class="col-xs-6 col-md-4">
<div class="bg-info" id="icq_status_level1"><!--//style="position:relative; left:0px; top:-120px; width:230px; height:20px;"-->
<img src="http://status.icq.com/online.gif?icq=344360162&img=5" alt="Пользователь 344360162" onclick="gotopage(5);"/>
ICQ 344360162
</div>
<div class="bg-info" id="mail_ref_level1"><!--//style="position:relative; left:0px; top:-90px; width:230px;height:20px;"-->
<img src="/images/mail.png"/>
prokat.auto@gmail.com
</div>
<!--<div class="bg-info" id="login_table_level1">--><!--//style="position:relative; left:0px; top:1px; width:230px; height:20px;"-->
<div class="form_elements">
    {% include 'authority_user_form.html.twig' %}
</div>

<div class="form_elements">
<form id="requestauto" method="post" action="register_user.php?si={{session_id}}">
<button name="_Registering" class="btn btn-lg btn-primary btn-block" type="submit" form="requestauto" formmethod="post">Оставить запрос на авто</button>
</form>
</div>
</div>
<div class="col-xs-6 col-md-4">
<div class="bg-info" id="rss_reader"><!--//style="position:relative; left: 1px; top:1px; width:700px; height:600px; overflow:hidden;"-->
{{site_info2 | raw }}
</div>
</div>
<div class="col-xs-6 col-md-4">
<div class="bg-info" id="subscribe_level1"><!--//style="position:relative; left:20px; top:-90px; width:230px;height:60px;"-->
<form action="http://subscribe.ru/member/quick" method="post" target="_top">
<table border="1" cellspacing="0" cellpadding="2" style="margin-left:30%;">
<tr><td bgcolor="#FCF5E9" align="center" colspan="2">
<font size="-1">Рассылки
<a href="http://subscribe.ru/"><b>Subscribe.Ru</b></a></font>
</td>
</tr>
<tr><td bgcolor="#FFFFFF" align="center" valign="middle" colspan="2">
<input type="hidden" name="addgrp" value="rss.8890">
<font size="-1">Лента
<a href="http://subscribe.ru/catalog/rss.8890" target="_top">"Comavto.ru - всё о подержанных автомобилях"</a><br />
<input type="text" name="email" size="20" maxlength="80" value="ваш e-mail" style="font-size: 9pt">
<input type=submit value="Подписаться" style="font-size: 9pt">
</font>
</td>
</tr>
</table>
</form>
</div>

</div>
</div>

<!--третья строка таблицы-->

<div class="row">
<div class="col-xs-6 col-md-4">
<!-- START OF HIT COUNTER CODE -->
<br><script language="JavaScript" src="http://www.counter160.com/js.js?img=2"></script><br><a href="http://www.000webhost.com"><img src="http://www.counter160.com/images/2/left.png" alt="Free web hosting" border="0" align="texttop"></a><a href="http://www.hosting24.com"><img alt="Web hosting" src="http://www.counter160.com/images/2/right.png" border="0" align="texttop"></a>
<!-- END OF HIT COUNTER CODE -->
</div>
<div class="col-xs-6 col-md-4">
<p class="bg-info"> ИП Красавин Д.В. 2011-2016</p>
</div>
<div class="col-xs-6 col-md-4">

</div>

</div>
</div>
</body>
</html>
